<!DOCTYPE html>
<html>
<head>
  <title>Recruitme</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-container">
	
	<div id="top-navbar">
		<%= image_tag "TitleLogo.png", alt: "Title Image", id: "title-image" %>
			<ul id="menu-bar">
			<li><a href="#">Sports</a></li>
			<li><%= link_to 'About', about_path %></li>
			<li id="nav-sign-up"><a>Sign up</a></li>
			<li><a href="#">Login</a></li>
		</ul>
		<div id="menu-icon"></div>
	</div>
	
	 <%= yield %>


	<div id="bottom-navbar"></div>
	</div>

	

</body>
</html>
